{% extends "base.html" %}

{% block page_title %}About{% endblock %}
{% block title %}About{% endblock %}

{% block main %}
    <p class="lead">I am a lone amateur developer who is looking for anyone interested in the project.</p>
    <p>Basically
        anyone can get involved somehow, there are things to do like writing blog posts and content, both for
        this site and on social media, also, testing the website for bugs, or writing new features if you are a
        coder.</p>
    <p>If you would like to help in any of this or if you have any ideas of things you could do
        for deletewikipedia.com then please feel free to contact me on
        <a href="mailto:deletewikipedia@gmail.com">deletewikipedia@gmail.com</a>.</p>

    <h2>Donate to the project now</h2>
    <p>All the funds received through any of the following methods will be spent on improving
        this project for people to enjoy. (I may be running adverts to fund the project.)</p>
    <p><b>Monero:</b> <i>85FXJVKgiAgMaKFwP2Z6QRHGwg3bjHcGKD2n9eQUTE
        vuDM6puSBFUYcTbMqUKPpriTBsfknKkZyBUTSgwX41VyFZK3BfZL9</i></p>
    <p><b>Bitcoin:</b> <i>bc1qha5ezcunkyt3ut2nxjzu9djdk8k5xq6j875952</i></p>
    <p><b>Bank Transfer:</b> Beneficiary: <i>Felix Farquharson</i>, IBAN: <i>GB44 REVO 0099 7027 5232 28</i>,
        BIC: <i>REVOGB21</i>, Currency: <i>USD</i></p>
{% endblock %}