{% extends "base.html" %}

{% block page_title %}Contact{% endblock %}
{% block title %}Contact{% endblock %}

{% block main %}
    <p class="lead">If you want to contact me you can email
        <a href="mailto:deletewikipedia@gmail.com">deletewikipedia@gmail.com</a></p>
    <p>There will eventually be a phone number to call, however, please dont stop yourself from sending an email,
        I check them fairly regularly.</p>
    <h2>PGP</h2>
    <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGF26noBDACzr90apSrHCrmh8+jxaESuqOOdzNrPPkFwl8UWsb4YKMso50UI
O05f7qVRkM4qqWowYQGIwOoGdLOOTIT4Hl0XjBUrBPUktOAgpkb3pBwM8O+fXEzL
ZXGxCXH8A5HrEI1jr8x3Kyj2U1fUSH4uwYW+4nWdHLgO8FOeLHqE2YSgyLJVJMF8
vIxSYEZ1SbCE3gFNxluKChv6jH3zI70XIctpFppfTvSL+qCvIuf9hgBn35R/VZT3
SLyle7dVVLSIgdUgqo8jZCZ4rsnB/aM5kxVteE3NlDpn177n9TuNXk0PWY3wrWQi
OgqgW9Dlmg/u/tkKzPWJH8k2tav6oMmyeKD7zwtqlzY4tMWmKtYZDVNxxfYvV52z
mYMRJQara6m3S0InnKu9NFcUaXzC3u56DwIpBcqrT7xLwhiBs2DW9s1JiuR5B9lp
JkROlW2jfrtJ7G8lC4eTGUW/03WDU2t6CNarxp2JTb8fL6iRi3r5c7gCGBLiOhf9
7vVJwWuX4JgzyNkAEQEAAbQvZGVsZXRld2lraXBlZGlhLmNvbSA8ZGVsZXRld2lr
aXBlZGlhQGdtYWlsLmNvbT6JAdQEEwEKAD4WIQROfVVe5O8k67cRIfkFTqLBisjO
6wUCYXbqegIbAwUJA8JnAAULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRAFTqLB
isjO62EvC/97b25C0K6us12efE4LKwO/RQ36MyF2CWMBNpkrPB87FvgSi7H/zVMe
WxFyB61jq56shqCapNDHzR09ZQNF08C8N0wSnNz/2gataId386XXvg4HJd4rr9u+
5lDNPV9y4BVj7N8fiX7FcYOTXo1h4BkLWmaAuFxUP3sFb1sjsmSmjrVvLcf0q5Us
FFMOujKXv1p+/+SvvUjnh0fLYJPzrJbYNRK/G22QdocHG4Sv6RnpNQ/yAxhMDKWQ
2bFh8B8aaDghvdVh2hGKIYTFByDYxnU8stbwNzdyC8IwilQuvQFR2i+4/iAbK3pm
hUxe0RTIgFUiF9NTLMZNgLIodp9/CGpypj88bTHi0eLswhcIKqkFTRwgNp3Z5yTT
5Uu+tBvXv/1dR4weRz8EIE6AUZXD0uOlebzg5darkGm2G88qxF9HwXUXN99DZALs
+1EwTEili5P3ILzYisbPzCEWxcQodbOGrUL9FZb+R6zpZsr71j3eB3MYvNrqFxRR
wveIaJWL0zW5AY0EYXbqegEMAMEi3vE1rerTqQQRInIlG3n/lHiLqT2zj+ds6OZT
F6IXMxaJQYf6zWCXJiG66FnGrC5rt5vJHVIJXbP2qdPRxdOTSdjBixEcbp6jGitL
qALvOx+qRsFWGIuv5eMM0XS60H0NAY7gJtwUwpzPq6o14TZuV6rVgrbOr79w5SGq
+v/TcZfl5wQIa4g/9eOnCnNg5OPYp4bcLHR1sk2cC+RQXd2xw+a03GxC9mYI5sQE
p9QCerBMiP6QTFFWZuwveAUI6hh922qymR0fwfk/gUQI3T+YRaKdJ5iJ7/4LjbmA
Kfy3L+PJdrAzgij+M93JJiHTAl1lKPo88esJBuKhAwJXiDT96VlhUizTNE7s1iba
eQOEgx8U+tDr28Y4+27y1CMJqjcKjz6K6KTkm7/qGxP/UiFixECx8wj0RMKH6TCa
QxZZnQDzS7Mjq/hdMpL/qa/OWLgAjvsm6JuCsvSZWVmd6dRHql6azyTJXiEi/FNr
hunE8G2OpoDj+8M6+1+EJuIMYQARAQABiQG8BBgBCgAmFiEETn1VXuTvJOu3ESH5
BU6iwYrIzusFAmF26noCGwwFCQPCZwAACgkQBU6iwYrIzusNAQv9FHPfHIjUHALg
fvUgclJ7lPAKJy5NyEJYtWbeh4vZ5eibAshsQmobLQP5Ds+2+XJzpisflCnDVyGY
Mev9KVphWFRrFoLeJjnLUROKlSpCsXO/qo29y/eUG+sWmfHrc4/WakBvw3KfMPjR
JkucNGOd8qQ+Swu4XiAnHzA7D4/UkO9P76cPkU+j6nSNVkxlKwW61ZehwT+2sN2x
S1BvyyXxg9AN2QhFH6OkA3ZYzFe4cOwgTSxi6Kx2BGUxuGVZ9ZHJ4EjD44NgfQbn
FWj8ajcDV64BRpkav2Og9i8XsRPI8BI9liSyhBuUicINJ3q7PmK2bDU9CiaIE0oT
PotAio5nOscBSwKI0qlP20wvDnMO/FQk7fU0R1ZyPnvCOKbEu7Z9eDessvi+Eese
EofrkDDPDtSJGa+9zn6zqH+3tLbusKgCePWv3VdjlZUbK5HgoiTO2SntbhsvIsa6
MaRSi/D0xnepA4Ceyh+idYARbNPuy+WTOChYmU+BF0KP1WDPPSNx
=Qfc4
-----END PGP PUBLIC KEY BLOCK-----</pre>
{% endblock %}