{% extends "base.html" %}

{% block page_title %}{{ title|safe }}{% endblock %}
{% block title %}{{ title|safe }}<small><a href="{% url "nojs_delete_article" article_id %}">delete article</a></small>{% endblock %}

{% block main %}
    <form action="{% url "nojs_delete_sentence" article_id %}" method="post">
        {% csrf_token %}
        <p>
        {% if sentences %}
            {% for sen in sentences %}
                {% if sen.deleted is False %}
                    <label for="{{ sen.id }}">{{ sen.text }}</label><input name="{{ sen.id }}" type="checkbox">
                    {% if sen.newline %}
                        </p><p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            No content in this article
        {% endif %}
        </p>

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LdgOR4dAAAAAIfqq7F770OIHTsLpIV_e79dQZ4s"></div>
        <input type="submit">
    </form>
{% endblock %}